@import "src/res/scss/mixins";
.main-desktop {
  &__content {
    padding-bottom: 6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    @include title;
    display: flex;
    align-items: center;
    margin-bottom: 6.4rem;
  }
  
  &__link {
    @include link-main;
    &:after {
      background: white;
    }
  }
  
  &__info {
    @include info-bottom;
  }
}